.leaflet-container {
  height: 100vh;
  color: black;
}

.leaflet-popup-content-wrapper {
  background: transparent;
  background-color: transparent;
  box-shadow: none;
}

.leaflet-popup-content {
  text-align: center;
  background: transparent;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  width: auto;
  height: 55px;
}

.custom-icon-mark {
  display: inline-block;
  border-radius: 50%;
  background-color: transparent;
  box-shadow: 0 0 0 0.3em rgba(0,0,0,0.75);
  animation: custom-icon-mark-anim 2s ease-out infinite;
}

.custom-icon-mark-low {
  display: inline-block;
  border-radius: 50%;
  background-color: transparent;
  box-shadow: 0 0 0 0.3em rgba(0,0,0,0.75);
  animation: custom-icon-mark-low-anim 4s ease-out infinite;
}

@keyframes custom-icon-mark-anim {
  0% {
    opacity: 0.8;
  }
  10% {
    opacity: 0.8;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes custom-icon-mark-low-anim {
  0% {
    opacity: 0.35;
  }
  10% {
    opacity: 0.35;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
